<div class="container">
    <div class="text-center mt-20 mb-18 mt-lg-25 mb-lg-42">
        <h6 class="fs-25 font-ovo">{{ section.settings.title}}</h6>
        <a href="{{ section.settings.url }}" class="text-scorpion text-decoration-underline fs-12">{{ section.settings.url_text }}</a>
    </div>
    <div class="row row-cols-1 row-cols-md-2 gx-lg-86 text-center row-gap-20">
        {% for block in section.blocks %}
            <div class="col">
                <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}" class="mb-25 img-fluid">
                <div class="fs-23 font-ovo">{{ block.settings.heading }}</div>
                <a href="{{ block.settings.url }}" class="text-scorpion text-decoration-underline fs-12">{{ block.settings.link_label }}</a>
            </div>
        {% endfor %}
       
    </div>
</div>

{% schema %}
{
    "name": "Multi Column",
    "class": "section",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id" : "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "url_text",
            "label": "Url text"
        },
        {
            "type": "url",
            "id": "url",
            "label": "Description Url"
        }
    ],
    "blocks": [
        {
            "type": "column",
            "name": "Column",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "text",
                    "id": "link_label",
                    "label": "Link label"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Url"
                }

            ]
        }
    ],
    "presets": [
        {
            "name": "Multi Column",
            "blocks": [
                {
                    "type": "column"
                },
                {
                    "type": "column"
                }
            ]
        }
    ]
}
{% endschema %}